<%-include('header')-%>
<table>
    <tr>
        <td>Büyük Patates</td>
        <td><button class="add-button" data-food-quantity ="1">Ekle</button></td>
    </tr>
    <tr>
        <td>Küçük Patates</td>
        <td><button class="add-button" data-food-quantity ="1">Ekle</button></td>
    </tr>
    <tr>
        <td>Su - (2TL)</td>
        <td><button class="add-button" data-food-quantity ="1">Ekle</button></td>
    </tr>
    <tr>
        <td>Şişe Kola 20CL - (4TL)</td>
        <td><button class="add-button" data-food-quantity ="1">Ekle</button></td>
    </tr>
    <tr>
        <td>Ayran 20 cl</td>
        <td><button class="add-button" data-food-quantity ="1">Ekle</button></td>
    </tr>
    <tr>
        <td>Ayran 30 cl</td>
        <td><button class="add-button" data-food-quantity ="1">Ekle</button></td>
    </tr>
    <tr>
        <td>Cappy 33 cl</td>
        <td><button class="add-button" data-food-quantity ="1">Ekle</button></td>
    </tr>
    <tr>
        <td>Lipton Ice Tea 33 cl</td>
        <td><button class="add-button" data-food-quantity ="1">Ekle</button></td>
    </tr>
    <tr>
        <td>Coca-Cola Light 33 cl</td>
        <td><button class="add-button" data-food-quantity ="1">Ekle</button></td>
    </tr>
    <tr>
        <td>Coca-Cola Sekersiz 33 cl </td>
        <td><button class="add-button" data-food-quantity ="1">Ekle</button></td>
    </tr>
    <tr>
        <td>Coca-Cola 33 cl</td>
        <td><button class="add-button" data-food-quantity ="1">Ekle</button></td>
    </tr>
    <tr>
        <td>Coca-Cola 1L</td>
        <td><button class="add-button" data-food-quantity ="1">Ekle</button></td>
    </tr>
    <tr>
        <td>Coca-Cola 2.5L</td>
        <td><button class="add-button" data-food-quantity ="1">Ekle</button></td>
    </tr>
    <tr>
        <td>Coca-Cola Light 1L</td>
        <td><button class="add-button" data-food-quantity ="1">Ekle</button></td>
    </tr>
    <tr>
        <td>Coca-Cola Light 2.5L</td>
        <td><button class="add-button" data-food-quantity ="1">Ekle</button></td>
    </tr>
    <tr>
        <td>Coca-Cola Sekersiz 1L</td>
        <td><button class="add-button" data-food-quantity ="1">Ekle</button></td>
    </tr>
    <tr>
        <td>Coca-Cola Sekersiz 2.5L</td>
        <td><button class="add-button" data-food-quantity ="1">Ekle</button></td>
    </tr>
    <tr>
        <td>Fanta 33 cl</td>
        <td><button class="add-button" data-food-quantity ="1">Ekle</button></td>
    </tr>
    <tr>
        <td>Fanta 1L</td>
        <td><button class="add-button" data-food-quantity ="1">Ekle</button></td>
    </tr>
    <tr>
        <td>Fanta 2L</td>
        <td><button class="add-button" data-food-quantity ="1">Ekle</button></td>
    </tr>
    <tr>
        <td>Fanta 2.5L</td>
        <td><button class="add-button" data-food-quantity ="1">Ekle</button></td>
    </tr>
    <tr>
        <td>Sprite 33 cl</td>
        <td><button class="add-button" data-food-quantity ="1">Ekle</button></td>
    </tr>
    <tr>
        <td>Sprite 1L</td>
        <td><button class="add-button" data-food-quantity ="1">Ekle</button></td>
    </tr>
    <tr>
        <td>Sprite 2.5L</td>
        <td><button class="add-button" data-food-quantity ="1">Ekle</button></td>
    </tr>
    <tr>
        <td>Salgam Suyu 33 cl</td>
        <td><button class="add-button" data-food-quantity ="1">Ekle</button></td>
    </tr>
    <tr>
        <td>Nigde Gazozu 25 cl</td>
        <td><button class="add-button" data-food-quantity ="1">Ekle</button></td>
    </tr>
    <tr>
        <td>Meyveli Soda 20 cl</td>
        <td><button class="add-button" data-food-quantity ="1">Ekle</button></td>
    </tr>
    <tr>
        <td>Sade Soda 20 cl</td>
        <td><button class="add-button" data-food-quantity ="1">Ekle</button></td>
    </tr>
    
</table>






<%-include('footer')-%>