<%-include('header')-%>

<table>
    <tr>
        <td>Menü 1 - Ekmek Arası Tavuk Döner + Patates + Ayran(20cl)</td>
        <td><button class="add-button" data-food-quantity ="1">Ekle</button></td>
        <td><input type="number" placeholder="Özel Fiyat"></td>
        <td><button class="send-by-price">Fiyatla Ekle</button></td>
    </tr>
    <tr>
        <td>Menü 2 - Ekmek Arası Et Döner + Patates + Ayran(20cl)</td>
        <td><button class="add-button" data-food-quantity ="1">Ekle</button></td>
        <td><input type="number" placeholder="Özel Fiyat"></td>
        <td><button class="send-by-price">Fiyatla Ekle</button></td>
    </tr>
    <tr>
        <td>Menü 3 - Karışık Sandviç + Patates + Ayran(20cl)</td>
        <td><button class="add-button" data-food-quantity ="1">Ekle</button></td>
        <td><input type="number" placeholder="Özel Fiyat"></td>
        <td><button class="send-by-price">Fiyatla Ekle</button></td>
    </tr>
    <tr>
        <td>Menü 4 - Yarım Ekmek Karışık Tost + Patates + Ayran(20cl)</td>
        <td><button class="add-button" data-food-quantity ="1">Ekle</button></td>
        <td><input type="number" placeholder="Özel Fiyat"></td>
        <td><button class="send-by-price">Fiyatla Ekle</button></td>
    </tr>
    <tr>
        <td>Menü 5 - Karışık Ayvalık Tost + Patates + Ayran(20cl)</td>
        <td><button class="add-button" data-food-quantity ="1">Ekle</button></td>
        <td><input type="number" placeholder="Özel Fiyat"></td>
        <td><button class="send-by-price">Fiyatla Ekle</button></td>
    </tr>
    <tr>
        <td>Menü 6 - Ekmek Arası Tavuk Ciğer + Patates + Ayran(20cl)</td>
        <td><button class="add-button" data-food-quantity ="1">Ekle</button></td>
        <td><input type="number" placeholder="Özel Fiyat"></td>
        <td><button class="send-by-price">Fiyatla Ekle</button></td>
    </tr>
    <tr>
        <td>Menü 7 - Ekmek Arası Köfte + Patates + Ayran(20cl)</td>
        <td><button class="add-button" data-food-quantity ="1">Ekle</button></td>
        <td><input type="number" placeholder="Özel Fiyat"></td>
        <td><button class="send-by-price">Fiyatla Ekle</button></td>
    </tr>
    <tr>
        <td>Menü 8 - Dana Kasap Sucuk + Patates + Ayran(20cl)</td>
        <td><button class="add-button" data-food-quantity ="1">Ekle</button></td>
        <td><input type="number" placeholder="Özel Fiyat"></td>
        <td><button class="send-by-price">Fiyatla Ekle</button></td>
    </tr>
    <tr>
        <td>Menü 9 - 120Gr Tavuk Döner + Patates + Ayran(20cl)</td>
        <td><button class="add-button" data-food-quantity ="1">Ekle</button></td>
        <td><input type="number" placeholder="Özel Fiyat"></td>
        <td><button class="send-by-price">Fiyatla Ekle</button></td>
    </tr>
    <tr>
        <td>Menü 10 - Tavuk İskender(120gr) + Patates + Ayran(20cl)</td>
        <td><button class="add-button" data-food-quantity ="1">Ekle</button></td>
        <td><input type="number" placeholder="Özel Fiyat"></td>
        <td><button class="send-by-price">Fiyatla Ekle</button></td>
    </tr>
    <tr>
        <td>Menü 11 - 120Gr Et Döner + Patates + Ayran(20cl)</td>
        <td><button class="add-button" data-food-quantity ="1">Ekle</button></td>
        <td><input type="number" placeholder="Özel Fiyat"></td>
        <td><button class="send-by-price">Fiyatla Ekle</button></td>
    </tr>
    <tr>
        <td>Menü 12 - İskender Et Döner + Patates + Ayran(20cl)</td>
        <td><button class="add-button" data-food-quantity ="1">Ekle</button></td>
        <td><input type="number" placeholder="Özel Fiyat"></td>
        <td><button class="send-by-price">Fiyatla Ekle</button></td>
    </tr>
    <tr>
        <td>Menü 13 - Izgara Köfte(200gr) + Patates + Ayran(20cl)</td>
        <td><button class="add-button" data-food-quantity ="1">Ekle</button></td>
        <td><input type="number" placeholder="Özel Fiyat"></td>
        <td><button class="send-by-price">Fiyatla Ekle</button></td>
    </tr>
    <tr>
        <td>Menü 14 - Tavuk CİĞER(200gr) + Patates + Ayran(20cl)</td>
        <td><button class="add-button" data-food-quantity ="1">Ekle</button></td>
        <td><input type="number" placeholder="Özel Fiyat"></td>
        <td><button class="send-by-price">Fiyatla Ekle</button></td>
    </tr>
    <tr>
        <td>Menü 15 - Dört(4) Adet Ekmek Arası Tavuk + İçecek(1L)</td>
        <td><button class="add-button" data-food-quantity ="1">Ekle</button></td>
        <td><input type="number" placeholder="Özel Fiyat"></td>
        <td><button class="send-by-price">Fiyatla Ekle</button></td>
    </tr>
    <tr>
        <td>Menü 16 - Dört(4) Adet Ekmek Arası Et + İçecek (1L)</td>
        <td><button class="add-button" data-food-quantity ="1">Ekle</button></td>
        <td><input type="number" placeholder="Özel Fiyat"></td>
        <td><button class="send-by-price">Fiyatla Ekle</button></td>
    </tr>
    <tr>
        <td>Menü 17 - Dört(4) Adet Karışık Sandviç + İçecek (1L)</td>
        <td><button class="add-button" data-food-quantity ="1">Ekle</button></td>
        <td><input type="number" placeholder="Özel Fiyat"></td>
        <td><button class="send-by-price">Fiyatla Ekle</button></td>
    </tr>
    <tr>
        <td>Menü 18 - Dört(4) Adet Ekmek Arası Köfte + İçecek (1L)</td>
        <td><button class="add-button" data-food-quantity ="1">Ekle</button></td>
        <td><input type="number" placeholder="Özel Fiyat"></td>
        <td><button class="send-by-price">Fiyatla Ekle</button></td>
    </tr>
    <tr>
        <td>Menü 19 - Tereyağlı Tavuklu Pilav + Ayran(30cl)</td>
        <td><button class="add-button" data-food-quantity ="1">Ekle</button></td>
        <td><input type="number" placeholder="Özel Fiyat"></td>
        <td><button class="send-by-price">Fiyatla Ekle</button></td>
    </tr>
    <tr>
        <td>Menü 20 - Zurna Tavuk Dürüm(120gr) + Patates + Ayran(20cl)</td>
        <td><button class="add-button" data-food-quantity ="1">Ekle</button></td>
        <td><input type="number" placeholder="Özel Fiyat"></td>
        <td><button class="send-by-price">Fiyatla Ekle</button></td>
    </tr>
    <tr>
        <td>Menü 21 - Zurna ET Dürüm(120gr) + Patates + Ayran(20cl)</td>
        <td><button class="add-button" data-food-quantity ="1">Ekle</button></td>
        <td><input type="number" placeholder="Özel Fiyat"></td>
        <td><button class="send-by-price">Fiyatla Ekle</button></td>
    </tr>
    
</table>







<%-include('footer')-%>